:root {
  --colour-highlight: #3D8116;
}

#puzzle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

svg#grid {
  /* TODO: Responsive width/height */
  height: 80vh;
  width: auto;
}

svg#input-panel {
  width: 200px;
}

#cells, #inputs {
  cursor: pointer;
}

rect {
  fill: transparent;
  stroke: black;
  stroke-width: 1;
}

.cell-ip, .not-cell {
  rx: 10;
}

.cell-ip:hover {
  stroke-width: 8;
  stroke: var(--colour-highlight);
}

#grid rect.selected {
  stroke-width: 5;
  stroke: var(--colour-highlight);
}

rect.not-cell {
  cursor: default;
}

.region {
  stroke-width: 3;
  stroke: black;
}

.fa-icon {
  overflow: visible;
}

.fa-icon path {
  transform: translate(-50%, -50%);
}

g.error svg {
  color: red;
}

.fa-star {
  color: #F5B700;
}

summary:hover {
  cursor: pointer;
}
